<!-- Proyectos -->
<section class="container">
    <div class="row mx-auto" style="background-color: #d5d5d5;">
      
        <h2 style="margin-bottom:2%;">{{proyectos.tituloproyectos}}</h2>
        <!-- Proyecto 1 -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
          <hr class="mt-2 mb-2">
          <h4 class="text-left">{{proyectos.proy1nombre}}</h4>
          <h5 class="text-left">Período ({{proyectos.proy1start}}) - ({{proyectos.proy1end}})</h5>
          <h5 class="text-left">Link: </h5><a href="#">{{proyectos.proy1link}}</a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
          <p class="acercade text-justify">{{proyectos.proy1descripcion}}</p>
        </div> 
        <div class="container">
          <h4 class="text-center text-lg-start mt-1 mb-1.8">{{proyectos.tituloimg}}</h4>
          <div class="row text-center text-lg-start">
            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" [src]="proyectos.pro1img1" alt="">
              </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" [src]="proyectos.pro1img2" alt="">
              </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" [src]="proyectos.pro1img3" alt="">
              </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" [src]="proyectos.pro1img4" alt="">
              </a>
            </div>
          </div>
        </div>
        
        <!-- Proyecto 2 -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
          <hr class="mt-2 mb-2">
          <h4 class="text-left">{{proyectos.proy2nombre}}</h4>
          <h5 class="text-left">Período ({{proyectos.proy2start}}) - ({{proyectos.proy2end}})</h5>
          <h5 class="text-left">Link: </h5><a href="#">{{proyectos.proy2link}}</a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
          <p class="acercade text-justify">{{proyectos.proy2descripcion}}</p>
        </div> 
        <div class="container">
          <h4 class="text-center text-lg-start mt-1 mb-1.8">{{proyectos.tituloimg}}</h4>
          <div class="row text-center text-lg-start">
            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" [src]="proyectos.pro2img1" alt="">
              </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" [src]="proyectos.pro2img2" alt="">
              </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" [src]="proyectos.pro2img3" alt="">
              </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" [src]="proyectos.pro2img4" alt="">
              </a>
            </div>
          </div>
        </div>
    </div>
  </section>
