<!-- Educación -->
<section class="container">
    <div class="row mx-auto" style="background-color: #d5d5d5;">
      <h2 style="margin-bottom:1em;">EDUCACIÓN</h2>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3 text-center">
        <img class="img-fluid" src="../assets/img/uni02.jfif" style="padding-bottom: 1em;">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
        <h4 class="text-center">Educación 1</h4>
        <h5 class="text-center">Período () - ()</h5>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <p class="acercade text-justify" style="padding-bottom: 1em;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fuga voluptate natus obcaecati tempora quaerat amet a aut debitis soluta vel laudantium nam ut, voluptatum aperiam facilis inventore totam iusto quam molestiae similique nihil beatae ullam mollitia! Ipsum expedita libero minima vero unde aspernatur nulla accusamus, dolorum eligendi iste corrupti?</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3 text-center">
        <img class="img-fluid" src="../assets/img/uni01.jfif" style="padding-bottom: 1em;">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
        <h4 class="text-center">Educación 2</h4>
        <h5 class="text-center">Período () - ()</h5>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <p class="acercade text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio eum cum qui, placeat, omnis quisquam ex iusto, id quo delectus iste. Eum molestias quae provident numquam expedita vero hic, tenetur laboriosam cumque quo, blanditiis repellendus laborum beatae assumenda aperiam, aspernatur quis necessitatibus ea dicta pariatur. Non quidem repudiandae ratione a.</p>
      </div>
      <hr class="linea">
    </div>
  </section>
