<!-- Experiencia -->
<section class="container">
    <div class="row mx-auto" style="background-color: #d5d5d5;">
      <h2 style="margin-bottom:1em;">EXPERIENCIA LABORAL</h2>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3 text-center">
        <img class="img-fluid" src="../assets/img/explab01.png" style="padding-bottom: 0.5em;">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
        <h4 class="text-center">Experiencia Laboral 1</h4>
        <h5 class="text-center">Período () - ()</h5>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <p class="acercade text-justify" style="padding-bottom: 1em;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, hic rem placeat nulla accusamus soluta voluptatibus, cupiditate et corporis sapiente vitae minima, pariatur voluptates numquam aperiam eos commodi ipsum quibusdam unde? Alias dolor, ullam asperiores accusantium consequuntur corporis reprehenderit, illum voluptatibus quasi ea, cupiditate officiis delectus consectetur. Praesentium, asperiores? Veniam excepturi accusamus fuga ea corrupti ratione, fugit facere nemo, quos sint vero earum. Repudiandae deleniti earum, corporis facilis eius laudantium fugit doloribus sequi autem voluptate similique voluptas cumque saepe nostrum alias eaque provident minus tempore sint eligendi sunt quasi commodi! Esse expedita repellendus facere natus consequuntur minus perferendis, recusandae eveniet.</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3 text-center">
        <img class="img-fluid" src="../assets/img/explab02.png" style="padding-bottom: 0.5em;">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
        <h4 class="text-center">Experiencia Laboral 2</h4>
        <h5 class="text-center">Período () - ()</h5>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <p class="acercade text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, hic rem placeat nulla accusamus soluta voluptatibus, cupiditate et corporis sapiente vitae minima, pariatur voluptates numquam aperiam eos commodi ipsum quibusdam unde? Alias dolor, ullam asperiores accusantium consequuntur corporis reprehenderit, illum voluptatibus quasi ea, cupiditate officiis delectus consectetur. Praesentium, asperiores? Veniam excepturi accusamus fuga ea corrupti ratione, fugit facere nemo, quos sint vero earum. Repudiandae deleniti earum, corporis facilis eius laudantium fugit doloribus sequi autem voluptate similique voluptas cumque saepe nostrum alias eaque provident minus tempore sint eligendi sunt quasi commodi! Esse expedita repellendus facere natus consequuntur minus perferendis, recusandae eveniet.</p>
      </div>
      <hr class="linea">
    </div>
  </section>
