<app-header></app-header> 
<app-acercade></app-acercade>
<app-experiencia></app-experiencia>
<app-educacion></app-educacion>
<app-skills></app-skills>
<app-proyectos></app-proyectos>
<app-footer></app-footer>

 <!-- JS Footer -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
 <script src="https://daniellaharel.com/raindrops/js/raindrops.js"></script>
 <script> jQuery('#waterdrop').raindrops({color:'#d5d5d5', canvasHeight:150, density: 0.1, frequency: 20});
 </script>