<!-- Hard and Soft Skills -->
<section class="container">
    <div class="row mx-auto" style="background: #d5d5d5;">
      <h2 style="color:#000;">{{skills.tituloskill}}</h2>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3" style="padding:3em;">
        <div [class]="skills.class1">
          <h4>{{skills.avance1}}</h4>
          <p>{{skills.nombre1}}</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3" style="padding:3em;">
        <div [class]="skills.class2">
          <h4>{{skills.avance2}}</h4>
          <p>{{skills.nombre2}}</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3" style="padding:3em;">
        <div [class]="skills.class3">
          <h4>{{skills.avance3}}</h4>
          <p>{{skills.nombre3}}</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3" style="padding:3em;">
        <div [class]="skills.class4">
          <h4>{{skills.avance4}}</h4>
          <p>{{skills.nombre4}}</p>
        </div>
      </div>
    </div>
      
    <!-- Idiomas -->
    <div class="container">
      <div class="row" style="background: #d5d5d5;">
        <h2 style="color:#000;">{{skills.tituloidioma}}</h2>
        <div class="col-md-6">
          <h3 class="progress-title"><p style="vertical-align: inherit;">{{skills.idionombre1}} - {{skills.idioavance1}}</p></h3>
          <div [class]="skills.idioprogress1">
            <div class="progress-bar" style="width:60%; background:#96858f;"></div>
          </div>
          <h3 class="progress-title"><p style="vertical-align: inherit;">{{skills.idionombre2}} - {{skills.idioavance2}}</p></h3>
          <div [class]="skills.idioprogress2">
            <div class="progress-bar" style="width:90%; background:#6d7993;"></div>
          </div>
        </div>
        <hr class="linea">
      </div>
    </div>
  </section>